Задачи по Pandas

V 0.8 14.09.2020

Датасеты:
* sp_data2.csv 
* sp500hst.txt 
* kings.csv 
* titanic.csv

In [2]:
import pandas as pd
import numpy as np

---

2.1 Задание: загрузить данные из файлов (приложены к письму):
* excel-comp-data.xlsx
* sp500hst.txt

2.2 Загрузить данные из файла sp500hst.txt, обозначить столбцы (в соответствии с содержимым).

2.3.1 Создать столбец со значеними средними, между значением дневного минимума и максимума.

2.3.2 Рассчитать среднее значение показателей для каждого из столбцов 3-6.

2.4.1 Создать DataFrame состоящий из строк относящихся только к 13 августа 2010 года.

2.4.1.2 Из DataFrame, созданного в 2.4.1, cоздать серию из 30 первых имен

2.4.2 Из DataFrame, созданного в 2.4.1, создать новый DataFrame индексом в котором являются имена тикеров.

2.4.3 Создать DataFrame состоящий из строк относящихся только тикеру ALTR.

2.4.5.1 Создать DataFrame состоящий из строк относящихся только тикеру WAT и объединить его с DataFrame для ALTR.

2.4.5.2 Создать DataFrame в котором присутствует столбец, отражающий разницу в объемах торгов по WAT и ALTR в одинаковые дни и содержит исходные данны об объеме трогов этими акциями.

2.4 Выяввиь столбцы содержащие минимальные и максимальные значения (если такие столбцы есть). (Проверить, есть ли среди столбцов, столбец с минимальным значением курса акций.)

2.5 По данным из 'sp500hst.txt' при помощи Pandas расчитать максимальные значения в 3-6 столбца для дат после 20100801

2.6 По данным из 'sp500hst.txt' при помощи Pandas расчитать средний объем торгов (обеъм торгов - в последнем столбце) при значениях 3го столбца больше 50.

## Даты

* Группа функций pandas.Series.dt.<Имя функции>
* Например, см.: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.day.html

2.4.4 Из DataFrame, созданного в 4.3, создать DataFrame индексом в котором являются даты.

2.4.5 В DataFrame, созданном в 4.3, добавить столбец, содержащий только число месяца, к которому относится дата.

2.4.6 В DataFrame добавить столбец, содержащий только число месяца, к которому относится дата.

2.4.7 Из DataFrame выбрать только строки, относящиеся к 13 числу месяца.

20.x.8 Для тикера AAPL подсчитать, сколько дней прошло между максимальным и минимальным значением цены акции на закрытии рынка.

20.x.9 Для каждого тикера подсчитать, максимальную цену акции и определить, в какой день недели чаще всего достигается максимум цены акции.

## Работа со строковыми значениями в Pandas

* Группа функций pandas.Series.str.<Имя функции>
* Например, см.: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.capitalize.html

20.xx.1 Загрузить датасет kings.csv в датафрэйм и добавить в него столбец Name, в котором содержатся имена королей (без порядковых номеров)

20.xx.1.2 Для датафрэйма kings загрузить порядоковые нормера королей и отфильторвать строки соответствующие королям с номерами "I".

20.xx.1.3 Для датафрэйма kings, для столбца King получить значения максимума и минимума для чисел, являющихся последним токеном в строке.

20.xx.1.3* Для датафрэйма kings, для столбца King с помощью регулярного выражения извелечь значения начала и конца правления королей, записанные в формате (год-год).

## Работ с пропущенными значениями

20.xxx.1 Подсчитать количество пропущенных значений для всех столбцов датасета titanic.csv

20.xxx.2 Удалить из датафрейма полученного из titanic.csv все строки, в которых есть хотя бы один пропуск.

20.xxx.3 Удалить из датафрейма полученного из titanic.csv все строки, в которых есть два и более пропуска.

20.xxx.4 В датафрейме, полученном из titanic.csv, заменить все пропущенные числовые значения на значения равне среднему от аналогичного значения в предыдущей и последующей строках.

20.xxx.5 В датафрейме, полученном из titanic.csv, заменить все пропущенные числовые значения возраста на значения равне среднему значению для представителей этого пола (не выполнять операцию, если неизвестен и пол и возраст).

## Сводные таблицы в Pandas
* см.: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

20.xxx.1 С помощью сводных таблиц определить какая доля выживших в разных классах для мужчин и женщин была на Титанике (датасет titanic.csv)

20.xxx.2 С использованием сводных таблиц подсчитать количество мужчин и женщин плывших в разных классов на Титанике (датасет titanic.csv)

20.xxx.3 С использованием сводных таблиц определить какая доля выживших была на Титанике для мужчин и женщин, разных классов и разных категорий возрастов (Категории возрастов: (0, 10), (10, 30), (30, 60), (60, 80)) (датасет titanic.csv)

## Объединение наборов данных

2.7 Добавить столбец с расшифровкой названия тикера используя данные из файла sp_data2.csv . В случае нехватки данных об именах тикеров корректно обработать их.

2.8 Вывести тикеры, для которых не были найдены рсшифровки.

9 Отранжировать штаты по численности населения меньше 18 лет в 1990 году. В качестве индекса таблицы использовать название штата

10 Объединить данные о торговле из /e-commerce в один датафрейм, добавив столбец 'Country', в котором указано название страны

__11__
1. Загрузить датасет avocado. 
2. Преобразовать столбец Date в формате datetime
3. При помощи метода join создать новый датафрейм, в котором столбцами являются скользящие средние цен за 10 дней, а индексом - даты
4. Изобразить на одной фигуре графики полученных временных рядом

## GroupBy

2.9 Рассчитать суммарный объем торгов (столбец 7) для для одинаковых значений (тикеров) из столбца 2 

2.9.2 Для каждого тикера подсчитать, сколько раз он встречается.

2.10 Расчитать среднее значение показателей для каждого из столбцов 3-6 для одинаковых значений (тикеров) из столбца 2 и сохранить в новом DataFrame

2.11 Добавить в DataFrame новый столбец, содержащий объем торгов (столбец 7), нормированный по среднему значению объема торгов для данного тикера.

.13 Для каждой из стран в датафрейме, полученном в Объединение.10 найти 3 самых дорогих проданных товара

2.12 Разбить датафрейм, полученный в Объединение.10, на 4 файла, в зависимости от принадлежности значения столбца 'UnitPrice' интервалам:

1) $ UnitPrice \in (q_0, q_1] $

2) $ UnitPrice \in (q_1, q_2] $

3) $ UnitPrice \in (q_2, q_3] $

4) $ UnitPrice \in (q_3, q_4] $

Создать новый столбец UnitPriceWithMean, значения которого совпадают с UnitPrice, если UnitPrice >= 2 и равны среднему значению цен товаров, больших двух, в этой стране, в противном случае

Для каждого описания товара найти список стран, в которых этот товар был продан. Описание товара считаем корректным, если в нем все символы строки, поддерживающие приведение к регистру, приведены к верхнем