In [1]:
import pandas as pd
import numpy as np
import operator

In [2]:
import os
import dask
import dask.dataframe as dd

In [7]:
from prep import accounts_csvs
# генерация искуственного набора данных:
accounts_csvs(6, 1000000, 500)

In [3]:
filename = os.path.join('data', 'accounts.*.csv')
filename

'data\\accounts.*.csv'

1. В accounts.*.csv найти имя, для которого встречается наибольшее количество положительных значений в столбце amount

In [4]:
df = dd.read_csv(filename, dtype={'id': int, 'names': str, 'amount': int})

2. Эффективно создать csv файлы, содержащие данные из файлов `accounts.*.csv` к которым добавлен столбец, в котором содержится количество сотен из положительного значения amount и 0, если значение в amount отрицательное. 

Пример:

`id,names,amount,new
412,Norbert,1492,14
498,Bob,-91,0
448,Ray,72,0`

In [14]:
df['new'] = df[df.amount > 0].amount//100

In [16]:
df.to_csv(r'data2\\accounts.*.csv')

['data2\\\\accounts.0.csv',
 'data2\\\\accounts.1.csv',
 'data2\\\\accounts.2.csv',
 'data2\\\\accounts.3.csv',
 'data2\\\\accounts.4.csv',
 'data2\\\\accounts.5.csv']

In [5]:
df.head()

    id   names  amount
0  250   Quinn    -269
1  420   Jerry    4278
2   16   Wendy     231
3   90   Jerry    2246
4   33  Yvonne    6207

3. Эффективно найти все 10 децилей для распределения значения amount.

4. Найти 2 последовательно идующие транзакции имеющие наибольшую по модулю разность между значениями amount.